@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Pacifico", cursive;
	background-color: #090909;
}
:root{
	--color-fresa: #d53032;
	--color-chocolate: #7B3F00;
}
.container{
	display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}
section.body-cake{
	position: relative;
	width: 98%;
	height: 350px;
	
}
section div.base{
	position: absolute;
	left: 50%;
	top: 220px;
	transform: translate(-50%, -50%);
	width: 265px;
	height: 120px;
	border-radius: 100%;
	background-color: #cccccc;
}
section div.cake{
	position: absolute;
	left: 50%;
	top: 155px;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 250px;
	height: 120px;
	border-radius: 50%;
	background-color:var(--color-chocolate);     
	box-shadow: 0px 2px 0px var(--color-chocolate),
							0px 4px 0px var(--color-chocolate),
							0px 6px 0px var(--color-chocolate),
							0px 8px 0px var(--color-chocolate),
							0px 10px 0px var(--color-chocolate),
							0px 12px 0px var(--color-chocolate),
							0px 14px 0px var(--color-chocolate),
							0px 16px 0px #f0e4d0,
							0px 18px 0px #f0e4d0,
							0px 20px 0px #f0e4d0,
							0px 22px 0px #f0e4d0,
							0px 24px 0px #f0e4d0,
							0px 26px 0px #f0e4d0,
							0px 32px 0px var(--color-chocolate),
							0px 36px 0px var(--color-chocolate),
							0px 40px 0px var(--color-chocolate),
							0px 46px 0px var(--color-chocolate),
							0px 56px 0px var(--color-chocolate);
}
section div.capa-cake{
	position: absolute;
	top: 145px;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 250px;
	height: 100px;
	border-radius: 50%;
	background-color: #f0e4d0;/* #FFFFCC;*/
	z-index: 3;
	&::before{
		top: 35px;
		left: 25px;
		width: 200px;
		text-align: center;
		font-size: 1.3rem;
		font-weight: 700;
		position: absolute;
		content: 'Feliz Cumpleaños Natali';
		color: var(--color-fresa);
		perspective: 800px;
  	perspective-origin: 50% 50%;
  	transform: rotateX(50deg) rotateY(-2deg);
		z-index: 3;
	}
}
section div.vela{
	position: absolute;
	top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
	z-index: 12;
	width: 18px;
	height: 58px;
	background-color: #a61861;
	border-radius: 4px 4px 4px 4px;
}
section div.vela-base{
	position: absolute;
	top: 83px;
  left: 50%;
  transform: translate(-50%, -50%);
	z-index: 13;
	width: 18px;
	height: 6px;
	background-color: #824a8a;
	border-radius: 50%;
}
section div.mecha{
	z-index: 14;
	position: absolute;
	top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 4px;
	height: 10px;
	background-color: rgb(51, 41, 41);
	border-radius: 4px;
}
section div.candela{
	z-index: 15; 
	position: absolute;
	border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
	width: 16px;
	height: 35px;
	top: 62px;
  left: 50%;
  transform: translate(-50%, -50%);
	background-color: orange;
	box-shadow: 0px -4px 20px 15px rgb(240, 205, 89,0.3);
	cursor: pointer;
	animation: sway 1s ease-in-out alternate infinite;
}
/*@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}*/
section img.fresa-1{
	transform: rotateZ(-45deg);
}
section img.fresa-2{
	transform: rotateZ(45deg);
}
section div.imagen{
	background-color: rgb(240, 228, 208,.0);
	z-index: 50;
	position: absolute;
	width: 160px;
	top: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
}
section img{
	background-color: rgb(240, 228, 208,.0);
	width: 40px;
	height: 40px;
}
section div.activate{
	background-color: #090909;
	box-shadow: none;
}
header{
	z-index: 1000;
	position: fixed;
	width: 100%;
	top: -5%;
	display: flex;
	justify-content: space-between;
}
.papel{
  top: 0%; 
  left: 50%; 
  transform: translateX(-50%);
  transition: transform 2s ease-in-out;
}
.papel img{
	width: 30px;
	height: 30px;
}

.papel.caido {
	transform: translateY(95vh);
}
.papel.oculto{
	opacity: 0;
  pointer-events: none;
}